@import "./blog/article";
@import "./blog/search-results";
@import "./blog/pagination";

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.body {
	flex: 1 0 auto;
	margin-bottom: 1rem;
}

.footer {
	flex-shrink: 0;
}

main {
	flex: 1;
}

.pad-nav {
	padding-top: $navbar-height;
}

.section-heading {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 4rem;
}

.article,
.tag-list {
	.content p {
		line-height: 1.9;
		margin: 15px 0;
	}
}

.column {
	.box {
		height: 100%;
	}

	.card {
		height: 100%;
	}
}

.list.box {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	> a {
		margin: 0.2rem;
	}
}

.footer {
	padding: 1.5rem 1.5rem;
}

@include from($tablet) {
	.footer-right {
		margin-left: auto;
	}
}
