@import "vendor/bulma/sass/utilities/initial-variables";
@import "vendor/bulma/sass/utilities/derived-variables";
@import "vendor/bulma/sass/utilities/mixins";

$navbar-breakpoint: $desktop !default;

@include until($navbar-breakpoint) {
	.navbar-menu {
		display: block;
	}
}
.pad-nav {
	padding-top: 0;
}
.navbar-burger {
	display: none;
}
nav.navbar.is-fixed-top {
	position: initial;
}
.js-only {
	display: none;
}
