@import "vendor/pulse/_variables.scss";
@import "vendor/bulma/_bulma.sass";
@import "vendor/pulse/_overrides.scss";
.pad-nav {
	padding-top: 3.25rem;
}
.section-heading {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 4rem;
}
