{% macro hero(title, primary) %}
{% set class = "" %}
{% if primary %}
{% set class = class ~ "hero is-primary" %}
{% endif %}
<section class="{{class}}">
    <header>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{{title}}</h1>
            </div>
        </div>
    </header>
</section>
{% endmacro hero %}

{% macro list_articles(pages) %}
<section class="articles section">
    <div class="columns is-desktop">
        <div class="column is-10-desktop is-offset-1-desktop">
            {% for page in pages %}
            {{ post_macros::page_in_list(page=page) }}
            {% endfor %}
        </div>
    </div>
</section>
{% endmacro list_articles %}

{% macro paginate(paginator) %}
<section class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if paginator.previous %}
                <a class="button is-primary pagination-previous" href="{{ paginator.previous }}">&laquo; Previous</a>
                {% else %}
                <a class="button is-primary pagination-previous" disabled title="This is the first page">&laquo;
                    Previous</a>
                {% endif %}
                <ul class="pagination-list">
                    <li>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</li>
                </ul>
                {% if paginator.next %}
                <a class="button is-primary pagination-next" href="{{ paginator.next }}">Next &raquo;</a>
                {% else %}
                <a class="button is-primary pagination-next" disabled title="This is the last page">Next &raquo;</a>
                {% endif %}
            </nav>
        </div>
    </div>
</section>
{% endmacro paginate %}

{% macro brand() %}
<a class="navbar-item" href="{{ get_url(path="/blog") }}">
    <span aria-hidden="true" class="icon">
        <i class="fas fa-blog"></i>
    </span>
    <span>Home</span>
</a>
{% endmacro brand %}