{% extends "blog/index.html" %}
{% import "blog/post_macros.html" as post_macros %}
{% block blogcontent %}
<!-- END NAV -->
<main class="pad-nav">
    <!-- START HERO TITLE -->
    {% if not title %}
    {% set title = taxonomy.name ~ ": " ~ term.name | capitalize %}
    {% endif %}
    {{ index_macros::hero(title=title,primary=false) }}
    <!-- END HERO TITLE -->
    <div class="container">
        <!-- START ARTICLE FEED -->
        {% if paginator %}
        {{ index_macros::list_articles(pages=paginator.pages) }}
        {% else %}
        {{ index_macros::list_articles(pages=term.pages) }}
        {% endif %}
        <!-- END ARTICLE FEED -->
        <!-- START PAGINATION -->
        {% if paginator %}
        {{ index_macros::paginate(paginator=paginator) }}
        {% endif %}
        <!-- END PAGINATION -->
    </div>
</main>
{% endblock blogcontent %}