{% extends "blog/index.html" %}
{% import "blog/taxonomy_macros.html" as taxonomy_macros %}
{% block blogcontent %}
<!-- END NAV -->
<main class="pad-nav">
    <!-- START HERO TITLE -->
    {% if not title %}
    {% set title = "All " ~ taxonomy.name | title %}
    {% endif %}
    {{ index_macros::hero(title=title,primary=false) }}
    <!-- END HERO TITLE -->
    <!-- START TAXONOMY LIST -->
    {{ taxonomy_macros::list(terms=terms) }}
    <!-- END TAXONOMY LIST -->
</main>
{% endblock blogcontent %}