{% macro about() %}
<!-- About -->
<section class="section " id="about">
	<!-- Title -->
	<div class="section-heading">
		<h3 class="title is-2">About Me</h3>
		<h4 class="subtitle is-5">.NET Web Developer and Technology Lover</h4>
	</div>
	<div class="container">
		<p>
			Web developer with more than <strong>3 years</strong> of experience
			in a variety of domains. I have in-depth knowledge the
			<strong>full Microsoft .NET stack</strong> ranging from developing
			in C#, building custom deployments in DevOps, and deploying to Azure
			Services. In addition to this, I am well versed in front-end technologies, from
			creating reactive UI's in <strong>Vue and React</strong>, to
			customising Webpack builds and bundling for deployment.
		</p>
		<br />
		<p>
			In my spare time, when I'm not gaming, I like to explore and investigate
			new technologies; my most recent adventures are learning <strong>Rust</strong>, especially how it relates to
			webassembly,
			and <strong>Elm</strong>, a very different kind of front-end framework.
			I am also an avid lover of <strong>Raspberry Pi's</strong> and use them wherever possible around my house,
			such as for my media server, a chromecast replacement, and running a vpn.
		</p>
	</div>
</section>
{% endmacro about %}