{% macro contact() %}
<!-- Contact -->
<section class="section" id="contact">
	<div class="container">
		<div class="section-heading">
			<h3 class="title is-2">Contact</h3>
			<h4 class="subtitle is-5">Get in touch</h4>
		</div>
		<br />

		<div class="columns">
			<div class="column is-8 is-offset-2">
				<div class="box">
					<form action="https://mailthis.to/clarkero" method="POST">
						<div class="field">
							<label class="label"
								>Name
								<div class="control">
									<input
										class="input"
										name="name"
										type="text"
										placeholder="Name"
									/>
								</div>
							</label>
						</div>

						<div class="field">
							<label class="label"
								>Email
								<div class="control has-icons-left">
									<input
										class="input"
										type="email"
										name="_replyto"
										placeholder="Your Contact Address"
									/>
									<span class="icon is-small is-left">
										<i class="fas fa-envelope"></i>
									</span>
								</div>
							</label>
						</div>

						<div class="field">
							<label class="label"
								>Message
								<div class="control">
									<textarea
										class="textarea"
										name="message"
										placeholder="Write your query here"
									></textarea>
								</div>
							</label>
						</div>

						<input
							type="hidden"
							name="_subject"
							value="Contact form submitted"
						/>
						<input type="hidden" name="_honeypot" value="" />
						<input
							type="hidden"
							name="_confirmation"
							value="Thanks for getting in touch! I'll be in contact soon."
						/>
						<input type="hidden" name="_after" value="{{
						get_url(path="/") }}">

						<div class="field is-grouped has-text-centered">
							<div class="control">
								<button
									class="button is-primary is-large"
									type="submit"
								>
									<span class="icon">
										<i class="fas fa-envelope"></i>
									</span>
									<span>Submit</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endmacro contact %}
