{% macro navbar_start() %}
<div class="navbar-start">
	<a class="navbar-item" href="#about">
		<span class="icon" aria-hidden="true">
			<i class="icon-info"></i>
		</span>
		<span>About</span>
	</a>
	<a class="navbar-item" href="#services">
		<span aria-hidden="true" class="icon">
			<i class="icon-file-text"></i>
		</span>
		<span>Services</span>
	</a>
	<a class="navbar-item" href="#skills">
		<span aria-hidden="true" class="icon">
			<i class="icon-embed"></i>
		</span>
		<span>Skills</span>
	</a>
	<a class="navbar-item" href="#resume">
		<span aria-hidden="true" class="icon">
			<i class="icon-file-text2"></i>
		</span>
		<span>Resume</span>
	</a>
	<a class="navbar-item" href="#contact">
		<span aria-hidden="true" class="icon">
			<i class="icon-envelop"></i>
		</span>
		<span>Contact</span>
	</a>
</div>
{% endmacro navbar_start %}