{% macro navbar_start() %}
<div class="navbar-start">
	<a class="navbar-item" href="#about">
		<span class="icon" aria-hidden="true">
			<i class="fas fa-info"></i>
		</span>
		<span>About</span>
	</a>
	<a class="navbar-item" href="#skills">
		<span aria-hidden="true" class="icon">
			<i class="fas fa-list-alt"></i>
		</span>
		<span>Skills</span>
	</a>
	<a class="navbar-item" href="#services">
		<span aria-hidden="true" class="icon">
			<i class="fas fa-stream"></i>
		</span>
		<span>Services</span>
	</a>
	<a class="navbar-item" href="#resume">
		<span aria-hidden="true" class="icon">
			<i class="fas fa-file-alt"></i>
		</span>
		<span>Resume</span>
	</a>
	<a class="navbar-item" href="#contact">
		<span aria-hidden="true" class="icon">
			<i class="fas fa-envelope"></i>
		</span>
		<span>Contact</span>
	</a>
</div>
{% endmacro navbar_start %}
