{% macro resume() %}
<!-- Resume -->
<section class="section" id="resume">
	<div class="section-heading">
		<h3 class="title is-2">Resume</h3>
		<h4 class="subtitle is-5">More about my past</h4>
		<a href="{{ get_url(path="Robert Clarke 2020.02.23.odt") }}" class="button is-primary is-medium">
			<span aria-hidden="true" class="icon">
				<i class="fas fa-file-alt"></i>
			</span>
			<span>Download My Resume</span>
		</a>
        <br/><br/>
        <p>Trouble opening it? <a target="_blank" rel="noreferrer noopener" class="has-text-info" href="{{ get_url(path="Robert Clarke 2020.02.23.html") }}">View the plain html version here</a></p>
	</div>
</section>
{% endmacro resume %}