{% macro services() %}
<!-- Services -->
<section class="section" id="services">
	<div class="section-heading">
		<h3 class="title is-2">Services</h3>
		<h4 class="subtitle is-5">So what does all that stuff above mean?</h4>
	</div>
	<div class="container">
		<div class="columns">
			<div class="column">
				<div class="box">
					<div class="content">
						<h4 class="title is-5">
                            <span class="icon">
                                <i class="fas fa-list"></i>
                            </span>
                            Requirements Gathering
                        </h4>
						Using experience gained from working across the industry for many clients, I can help you nail down your business requirements, and make your processess as efficient as they can be. For any work, this is perhaps the most important step and will inform the rest of development going forward, so getting it right is important. Using concepts such as <a href="https://en.wikipedia.org/wiki/Minimum_viable_product" target="_blank">MVP</a>, your business will be delivered exactly what it needs to succeed. Of course with all projects there can also be unforeseen problems and changes, which is why working <a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank">agilely</a> and being adaptable is just as important too.
					</div>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<div class="content">
						<h4 class="title is-5">
                            <span class="icon">
                                <i class="fas fa-server"></i>
                            </span>
                            Back End Development
                        </h4>
						Once we're ready to roll, development of your actual business processes can begin. Whether it's business logic, data transformation, service interoperability or just nightly tasks to be run, these will be powered by Microsofts latest technologies, namely C# and ASP.NET. Want to store data, but Microsoft's SQL Server licenses too expensive? No problem, there's plenty of great alternatives such as Postgres, or even SQLite! 
					</div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<div class="content">
						<h4 class="title is-5">
                            <span class="icon">
                               <i class="fas fa-globe"></i>
                            </span>
                            Front End Web Development
                        </h4>
						Need a great user experience? Using battle-tested technologies such as React and powerful design systems like Bulma, powerful front-end applications can be created that will ensure your users have a wonderful experience. Alternatively, if your main goal is the greatest possible accessibility and reach, using standard HTML and minimal JavaScript can create an equally satisfying experience! (much like this site you're browsing right now!)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<div class="content">
                        <h4 class="title is-5">
                            <span class="icon">
                               <i class="fab fa-docker"></i>
                            </span>
                            Deployment
                        </h4>
                        Did you know this site is hosted using GitHub? That's right, it doesn't cost me a thing! In the current environment there are a multitude of great deployment options, ranging from Azure or AWS if you know you're going to need performance and scalability across many users, static site hosters such as GitHub or Netlify if you know you won't be needing a server, or good old on-prem if you want complete control yourself. All of these options have advantages and disadvantages, but rest assured that you'll have helpful and knowledgeable guidence throughout the whole process.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endmacro services %}