{% macro services() %}
<!-- Services -->
<section class="section" id="services">
	<div class="section-heading">
		<h3 class="title is-2">Services</h3>
		<h4 class="subtitle is-5">What can I do?</h4>
	</div>
	<div class="container">
		<div class="columns">
			<div class="column">
				<div class="box">
					<div class="content">
						<h4 class="title is-5">
							<span aria-hidden="true" class="icon">
								<i class="fas fa-list"></i>
							</span>
							Requirements Gathering
						</h4>
						For any work, gathering requirements is perhaps the most
						important step and will inform the rest of development
						going forward, so getting it right is important. Using
						concepts such as
						<a
							class="has-text-info"
							rel="noreferrer noopener"
							href="https://en.wikipedia.org/wiki/Minimum_viable_product"
							target="_blank"
							>MVP</a
						>, you can ensure that you are creating exactly the
						product required by the business, and potentially avoid
						bloated requirements and an inflated development cycle.
						Of course with all projects there can also be unforeseen
						problems and changes, which is why working
						<a
							class="has-text-info"
							rel="noreferrer noopener"
							href="https://en.wikipedia.org/wiki/Agile_software_development"
							target="_blank"
							>agilely</a
						>
						and being adaptable is just as important too.
					</div>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<div class="content">
						<h4 class="title is-5">
							<span aria-hidden="true" class="icon">
								<i class="fas fa-server"></i>
							</span>
							Server-side Development
						</h4>
						Once the requirements are ready, development of business
						processes can begin. Whether it's business logic, data
						transformation, service interoperability or just nightly
						tasks to be run, I can create web services and
						applications using C#, ASP.NET and the latest
						technologies. Storing data and Microsoft's SQL Server
						licenses too expensive? No problem, I am proficient in
						plenty of great alternatives such as Postgres, SQLite,
						or even Redis!
					</div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="box">
					<div class="content">
						<h4 class="title is-5">
							<span aria-hidden="true" class="icon">
								<i class="fas fa-globe"></i>
							</span>
							Front End Web Development
						</h4>
						Need a great user experience? Using battle-tested
						technologies such as React and design systems like
						Bulma, I can create powerful front-end applications that
						will ensure your users have a wonderful experience.
						Alternatively, if your main goal is the greatest
						possible accessibility and reach, using standard HTML
						and minimal JavaScript can create an equally satisfying
						experience! (much like this site you're browsing right
						now!)
					</div>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<div class="content">
						<h4 class="title is-5">
							<span aria-hidden="true" class="icon">
								<i class="fab fa-docker"></i>
							</span>
							Deployment
						</h4>
						Did you know this site is
						<a
							target="_blank"
							class="has-text-info"
							rel="noreferrer noopener"
							href="https://github.com/robertclarketech/robertclarketech.github.io"
							>hosted using GitHub?</a
						>
						That's right, it doesn't cost me a thing! In the current
						environment there are a multitude of great deployment
						options, ranging from Azure or AWS if you know you're
						going to need performance and scalability across many
						users, static site hosters such as GitHub or Netlify if
						you know you won't be needing a server, or good old
						on-prem if you want complete control yourself. All of
						these options have advantages and disadvantages, and
						choosing the right one takes skill and guidance.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endmacro services %}
