{% macro skills() %}
<!-- Skills -->
<section class="section" id="skills">
	<div class="section-heading">
		<h3 class="title is-2">Skills Overview</h3>
		<h4 class="subtitle is-5">Get ready for some acronyms</h4>
	</div>
	<div class="container">
		<div class="columns is-desktop">
			<div class="column">
				<div class="card">
					<div class="card-content">
						<article class="media">
							<div class="media-content">
								<div class="content">
									<h4>Server-Side</h4>
									<span class="tag is-primary is-light">C#</span>
									<span class="tag is-primary is-light">.NET</span>
									<span class="tag is-primary is-light">.NET Core</span>
									<span class="tag is-primary is-light">ASP.NET</span>
									<span class="tag is-primary is-light">Entity Framework</span>
									<span class="tag is-primary is-light">NHibernate</span>
									<span class="tag is-primary is-light">Dapper</span>
									<span class="tag is-primary is-light">Selenium</span>
									<span class="tag is-primary is-light">NUnit</span>
									<span class="tag is-primary is-light">XUnit</span>
									<span class="tag is-primary is-light">IIS</span>
									<span class="tag is-primary is-light">SQL Server</span>
									<span class="tag is-primary is-light">CosmosDB</span>
									<span class="tag is-primary is-light">Postgres</span>
									<span class="tag is-primary is-light">Rust</span>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<article class="media">
							<div class="media-content">
								<div class="content">
									<h4>Front-End</h4>
									<span class="tag is-primary is-light">HTML5</span>
									<span class="tag is-primary is-light">CSS3</span>
									<span class="tag is-primary is-light">SASS</span>
									<span class="tag is-primary is-light">JavaScript</span>
									<span class="tag is-primary is-light">TypeScript</span>
									<span class="tag is-primary is-light">JQuery</span>
									<span class="tag is-primary is-light">Webpack</span>
									<span class="tag is-primary is-light">React</span>
									<span class="tag is-primary is-light">Vue</span>
									<span class="tag is-primary is-light">Blazor</span>
									<span class="tag is-primary is-light">Elm</span>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<div class="card-content">
						<article class="media">
							<div class="media-content">
								<div class="content">
									<h4>DevOps</h4>
									<span class="tag is-primary is-light">Azure DevOps</span>
									<span class="tag is-primary is-light">Docker</span>
									<span class="tag is-primary is-light">Azure Web Containers</span>
									<span class="tag is-primary is-light">Logic Apps</span>
									<span class="tag is-primary is-light">Azure / On-Prem AD</span>
									<span class="tag is-primary is-light">O365 Online</span>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endmacro skills %}