{% macro skills() %}
<!-- Skills -->
<section class="section" id="skills">
	<div class="section-heading">
		<h3 class="title is-2">Technical Skills</h3>
	  </div>
  
	<div class="columns is-desktop has-same-height">
	  <div class="column">
		<!-- Skills -->
		<div class="card">
		  <div class="card-content">
			
			<div class="content">
			  <article class="media">
				<div class="media-content">
				  <div class="content">                  
					  <h4>Server-Side:</h4>
					  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus sit amet felis molestie pretium. Nam eget placerat magna, vitae tempor lacus. Praesent maximus, lacus eget congue aliquam, eros nunc placerat neque, sit amet laoreet nibh lectus posuere enim. Nulla suscipit gravida molestie. Vestibulum ultricies, massa at pretium sollicitudin, neque arcu egestas lectus, vel ornare magna mauris vitae arcu. Mauris vehicula arcu ut lacinia facilisis. Sed leo velit, molestie sed vulputate quis, tempus id enim. Maecenas feugiat finibus magna. Mauris vehicula dui vel faucibus fringilla.</p>
				  </div>
				</div>
			  </article>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="column">
		<div class="card">
		  <div class="card-content">
			<article class="media">
			  <div class="media-content">
				<div class="content">                  
					<h4>Front-End:</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus sit amet felis molestie pretium. Nam eget placerat magna, vitae tempor lacus. Praesent maximus, lacus eget congue aliquam, eros nunc placerat neque, sit amet laoreet nibh lectus posuere enim. Nulla suscipit gravida molestie. Vestibulum ultricies, massa at pretium sollicitudin, neque arcu egestas lectus, vel ornare magna mauris vitae arcu. Mauris vehicula arcu ut lacinia facilisis. Sed leo velit, molestie sed vulputate quis, tempus id enim. Maecenas feugiat finibus magna. Mauris vehicula dui vel faucibus fringilla.</p>
				</div>
			  </div>
			</article>
		  </div>
		</div>
	  </div>
	  <div class="column">
		<div class="card">
		  <div class="card-content">
			  <article class="media">
				<div class="media-content">
				  <div class="content">                  
					  <h4>DevOps:</h4>
					  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dapibus sit amet felis molestie pretium. Nam eget placerat magna, vitae tempor lacus. Praesent maximus, lacus eget congue aliquam, eros nunc placerat neque, sit amet laoreet nibh lectus posuere enim. Nulla suscipit gravida molestie. Vestibulum ultricies, massa at pretium sollicitudin, neque arcu egestas lectus, vel ornare magna mauris vitae arcu. Mauris vehicula arcu ut lacinia facilisis. Sed leo velit, molestie sed vulputate quis, tempus id enim. Maecenas feugiat finibus magna. Mauris vehicula dui vel faucibus fringilla.</p>
				  </div>
				</div>
			  </article>
			</div>
		  </div>
		</div>
	  </div>
	</div>
   </section>
{% endmacro skills %}
