{% import "main-page/_header.html" as header_macro %}
{% import "main-page/_about.html" as about_macro %} 
{% import "main-page/_skills.html" as skills_macro %} 
{% import "main-page/_resume.html" as resume_macro %} 
{% import "main-page/_services.html" as services_macro %} 
{% import "main-page/_contact.html" as contact_macro %} 

{% macro main_page() %} 
{{ header_macro::header() }} 
{{ about_macro::about() }} 
{{ services_macro::services() }}
{{ skills_macro::skills() }}
{{ resume_macro::resume() }}
{{ contact_macro::contact() }}

{% endmacro main_page %}