{% import "blog/post_macros.html" as post_macros %}
{% import "_footer.html" as footer_macro %}
{% import "_header.html" as header_macro %}

<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}
		{{ header_macro::header() }}
		<title>{% block title %}{{ config.title }}{% endblock title %}</title>
		<meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />
		<meta name="author" content="{% block author %}{{ config.extra.author }}{% endblock author %}" />
	{% endblock head %}
</head>

<body>
	<div class="body">
		{% block body %}{% endblock body %}
	</div>
	<!-- Footer -->
	<footer class="footer">
		{{ footer_macro::footer() }}
	</footer>
	<link rel="stylesheet" href="{{ get_url(path="icomoon/style.css") }}" />
	<script async src="{{ get_url(path="site.js") }}"></script>
</body>

</html>