{% macro footer() %}
<div class="columns is-tablet">
	<div class="column">
		<div class="content">
			Copyright &#169; 2020 Robert Clarke &nbsp;&nbsp;|&nbsp;&nbsp; 
			<a class="has-text-info" href="{{ get_url(path="sitemap.xml") }}">
				Site Map
			</a>
		</div>
	</div>
	<div class="column is-flex">
		<div class="content is-flex footer-right">
			<a aria-label="Bulma Homepage" href="https://bulma.io/" rel="noreferrer noopener" target="_blank">
				<picture>
					<source srcset="{{ get_url(path="img/made-with-bulma--dark.png") }}" media="(prefers-color-scheme: dark)">
					<img alt="Made with bulma" src="{{ get_url(path="img/made-with-bulma.png") }}" width="128" height="24">
				</picture>
			</a>
			<span>
				&nbsp;and <a class="has-text-info" rel="noreferrer noopener" href="https://www.getzola.org/" target="_blank">Zola</a>
			</span>
		</div>
	</div>
</div>
{% endmacro footer %}